body {
    font-family: "Roboto", sans-serif;
    font-size: 17px;
    background-color: skyblue;
  }
h2 {
color:black;
text-align: center;
}

/* Style the top navigation bar */
.topnav {
overflow: hidden;
background-color: #333;
}

/* Style the topnav links */
.topnav a {
float: left;
display: block;
color: #f2f2f2;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
background-color: #ddd;
color: black;
}
.form{
float: right;
margin-top: 8px;
margin-right: 10px;
}
a:link {color: #000000}
a:visit {color: WHITE}
a:hover {color: #FFCC00}
a:active {color: #FF00CC}

/* Style the content */
.content {
background-color: #ddd;
padding: 0px, 50px, 10px, 50px;
height: 1000px; /* Should be removed. Only for demonstration */
}
table, td, th {  
border: 1px solid #ddd;
text-align: left;
}

table {
border-collapse: collapse;
}
.table{
width: 65%;
}
.table-data{
width: 100%;
}

th, td, h3 {
padding: 15px;
}
#update {
background-color: blue;
color: #ddd;
}
#delete {
background-color: red;
color: #ddd;
}