{% extends 'base.html' %}

{% block title %}Agricultural Engineering Account{% endblock %}
{% block content %}
    <div class="row mt-4">
        <div class="col">
            <ul class="list-group">
                    <h3> Agricultural Engineering Account Details for First Semester Tutorials</h3>
                    <h3>Total Amount for Agricultural Engineering: {{ total }}</h3>
                    <div class="row">
                        <div class="col-9">
                            <table class="table">
                                <thead class="thead">
                                    <tr>
                                    <th scope="col">S/NO</th>
                                    <th scope="col">NAME OF STUDENTS</th>
                                    <th scope="col">AMOUNT</th>
                                    <th scope="col">BALANCE</th>
                                    <th scope="col">TOTAL</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                    {% for agric_engr_list in agric_engr_lists %}
                    <div class="row">
                        <div class="col-9">
                            <table class="table-data">
                                <tbody>
                                    <tr class="data">
                                        <th scope="row">{{ agric_engr_list.id }}</th>
                                        <td>{{ agric_engr_list.name_of_students }}</td>
                                        <td>{{ agric_engr_list.amount }}</td>
                                        <td>{{ agric_engr_list.balance }}</td>
                                        <td>{{ agric_engr_list.total }}</td>

                                        <td><a id="update" href="{% url 'records:agric_update' agric_engr_list.id %}">Update</a></td>
                                        <td>
                                            <div class="float-right">
                                            <form action="{% url 'records:delete_agric' agric_engr_list.id %}" method="post">
                                                {% csrf_token %}
                                                <button type="submit" id="delete">Delete</button>
                                            </form>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>         
                        </div>
                    </div>
                        
                    {% endfor %}
             
                
            </ul>
        </div>
    </div>
{% endblock content %}