{% extends 'base.html' %}

{% block content %}

<div class="row mt-4">
    <div class="col-12">
        <h4 class=""> Departmental Account Details for First Semester Tutorials</h4>
        <h6>PLEASE FILL OUT THE FORM</h6>
        <div class="row">
            <form action="{% url 'records:add_details' %}" method="post" class="form-group">
                {% csrf_token %}
                
                    {{ form.as_p  }}
                
                <button type="submit" class="btn btn-primary mb-2">Submit</button>
                
                
                
            </form>
        </div>
        
    </div>
</div>

{% endblock content %}