{% extends 'base.html' %}

{% block title %} {{ department }} Account{% endblock %}
{% block content %}
    <div class="row mt-4">
        <div class="col">
            <ul class="list-group">
                    <h3> {{ department }} Account Details for First Semester Tutorials</h3>
                    <div class="row">
                        <div class="col-9">
                            <table class="table">
                                <thead class="thead">
                                    <tr>
                                    <th scope="col">S/NO</th>
                                    <th scope="col">NAME OF STUDENTS</th>
                                    <th scope="col">AMOUNT</th>
                                    <th scope="col">BALANCE</th>
                                    <th scope="col">TOTAL</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <h4><i>{{ none }}</i></h4>
                    </div>
            </ul>
        </div>
    </div>
{% endblock content %}