{% extends 'base.html' %}

{% block title %}Pharmaceutiical Technology Account{% endblock %}
{% block content %}
    <div class="row mt-4">
        <div class="col">
            <ul class="list-group">
                    <h5> Pharmaceutiical Technology Account Details for First Semester Tutorials</h5>
                    <h5>Total Amount for Pharmaceutiical Technology: {{ total }}</h5>
                    <div class="row mt-4">
                        <div class="col-8">
                            <table class="table">
                                <thead class="thead">
                                    <tr>
                                    <th scope="col">S/NO</th>
                                    <th scope="col">NAME OF STUDENTS</th>
                                    <th scope="col">AMOUNT</th>
                                    <th scope="col">BALANCE</th>
                                    <th scope="col">TOTAL</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                    {% for pharm_list in pharm_lists %}
                    <div class="row">
                        <div class="col-12">
                            <table class="table">
                                <tbody>
                                    <tr class="data">
                                        <th scope="row">{{ pharm_list.id }}</th>
                                        <td>{{ pharm_list.name_of_students }}</td>
                                        <td>{{ pharm_list.amount }}</td>
                                        <td>{{ pharm_list.balance }}</td>
                                        <td>{{ pharm_list.total }}</td>

                                        <td><a id="update" href="{% url 'records:pharm_update' pharm_list.id %}">Update</a></td>
                                        <td>
                                            <div class="float-right">
                                            <form action="{% url 'records:delete_pharm' pharm_list.id %}" method="post">
                                                {% csrf_token %}
                                                <button type="submit" id="delete">Delete</button>
                                            </form>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>         
                        </div>
                    </div>
                        
                    {% endfor %}
             
                
            </ul>
        </div>
    </div>
{% endblock content %}