{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Union Of FedPoNek Tutors{% endblock %}</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "records/style.css" %}">
    <style>
     
    </style>
</head>
<body>
      <h2 id="header">ACCOUNT DETAILS FOR UNION OF FEDPONEK TUTORS</h2>
      <div class="topnav">
        <a href="{% url 'records:home' %}">Home</a>
        <a href="{% url 'records:mech_details' %}">Mech</a>
        <a href="{% url 'records:elect_details' %}">Elect</a>
        <a href="{% url 'records:civil_details' %}">Civil</a>
        <a href="{% url 'records:comp_engr_details' %}">Comp. Engr.</a>
        <a href="{% url 'records:computer_science_details' %}">Comp. Science</a>
        <a href="{% url 'records:science_lab_details' %}">SLT</a>
        <a href="{% url 'records:food_tech_details' %}">FST</a>
        <a href="{% url 'records:pharm_tech_details' %}">Pharm Tech</a>
        <a href="{% url 'records:dispense_details' %}">DOP</a>
        <a href="{% url 'records:agric_engr_details' %}">Agric. Engr</a>
        <form action="{% url 'records:search' %}" method="GET" value="{{ request.GET.search }}" class="form">
          <input type="text" id="search" name="search" value="{{ request.GET.search }}" placeholder="Search..">
          <input type="submit" name="submit" id="submit" value="Search"/>
        </form>
      </div>
      <div class="content">
        {% block content %}{% endblock content %}
      </div>
      <!-- Footer -->
    <footer class="py-3 bg-grey">
      <p class="m-0 text-dark text-center ">Copyright &copy; Lushak Communications</p>
    </footer>
</body>